dash>=3.1.1,<4.0.0
feffery_antd_components>=0.4.0,<0.5.0
feffery-antd-charts>=0.2.0
feffery_dash_utils>=0.2.6
feffery_utils_components>=0.3.2,<0.4.0
flask-compress
user_agents
yarl
dash-extensions>=2.0.4
dash-offline-detect-plugin>=0.1.4
dash-disable-devtool-plugin>=0.1.2
psycopg2-binary>=2.9.10
loguru>=0.6.0
peewee>=3.18.2
pytz>=2025.2
gunicorn>=23.0.0
